<h1>Фирменные шрифты</h1>
<h3 class="montserrat">Шрифт</h3>
<div class="font-picture">
  <div class="line-top"></div>
  <div class="line-bottom"></div>
  <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><h2>Бесконечная бегущая строка</h2></div>
      </div>
    </div>
  </div>
  <div class="tcontainer first" noneAfterTime [time]="60" >
    <div class="ticker-wrap-1">
      <div class="ticker-move">
        <div class="ticker-item"><h2 style="margin-left: 200px">Бесконечная бегущая строка</h2></div>
      </div>
    </div>
  </div>
  <div class="tcontainer second">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><h2>Бесконечная бегущая строка</h2></div>
      </div>
    </div>
  </div>
</div>
<button class="download" nz-button (click)="downloadFont('montserrat')">
  <span>Загрузить</span>
  <i class="wb-icons wb-download"></i>
</button>


