<h1>Фирменные шрифты</h1>
<h3 class="proxima">Proxima Nova</h3>
<p>Используется в баннерах, рассылках и печатных материалах</p>
<div class="font-picture">
  <div class="line-top"></div>
  <div class="line-bottom"></div>
  <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/morethanb(1).png"/></div>
      </div>
    </div>
  </div>
  <div class="tcontainer first" noneAfterTime [time]="60" >
    <div class="ticker-wrap-1">
      <div class="ticker-move top">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/morethanb(1).png"/></div>
      </div>
    </div>
  </div>
  <div class="tcontainer second">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/morethanb(1).png"/></div>
      </div>
    </div>
  </div>
</div>
<button class="download" nz-button (click)="downloadFont('proximaNova')">
  <span>Загрузить</span>
  <i class="wb-icons wb-download"></i>
</button>
<h3 class="montserrat">Montserrat</h3>
<p>Используется в логотипах и оформлении корпоративных проектов</p>
<div class="font-picture">
  <div class="line-top"></div>
  <div class="line-bottom"></div>
  <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/comfortable(1).png"/></div>
      </div>
    </div>
  </div>
  <div class="tcontainer first" noneAfterTime [time]="60" >
    <div class="ticker-wrap-1">
      <div class="ticker-move">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/comfortable(1).png"/></div>
      </div>
    </div>
  </div>
  <div class="tcontainer second">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><img src="https://photos.wbstatic.net/brandbook/comfortable(1).png"/></div>
      </div>
    </div>
  </div>
</div>
<button class="download" nz-button (click)="downloadFont('montserrat')">
  <span>Загрузить</span>
  <i class="wb-icons wb-download"></i>
</button>


