@import "../../../../styles";


h2{
  font-size:  100px;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
  font-weight: normal;
}
.proxima{
  margin-top: 54px;
}

.montserrat {
  margin-top: 80px;
}

.font-picture{
  overflow: auto;
  position: relative;
  .line-top{
    position: absolute;
    width: 100%;
    background-color: $primary;
    height: 2px;
    border: none;
    top: 50px;
  }
  .line-bottom{
    position: absolute;
    width: 100%;
    background-color: $primary;
    height: 2px;
    border: none;
    bottom: 17px;
    z-index: 0;
  }
  img{
    max-width: none;
  }
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-200%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 80s;
    animation-delay: 12s;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 6rem;
  }
  .second{
    position: absolute;
    top: 0;
    .ticker-move{
      animation-delay: 52s;
    }
  }
  .first{
    position: absolute;
    top: 0;
    .ticker-wrap-1 {
      width: 100%;
    }
    .ticker-move{
      animation-duration: 136s;
      animation-delay: 0s;
      animation-iteration-count: 1;
    }
    .top{
      animation-duration: 148s;
      .ticker-item{
        margin-left: 100px;
      }
    }
  }
}
