<h1>Бегущая строка</h1>
<p style="margin-bottom: 0">Бегущая строка, сделанная с помощью стилей. В отличие от тега &lt;marqueе&gt;, эта строка не начинается с правой стороны после того, как закончиться с левой, а продолжается непрерывно, как змейка. Кроме того, в начальный момент при загрузке страницы, в бегущей строке уже есть текст.</p>
<div class="font-picture">
  <div class="line-top"></div>
  <div class="line-bottom"></div>
  <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><h2>Бесконечная строка</h2></div>
      </div>
    </div>
  </div>
  <div class="tcontainer first" noneAfterTime [time]="60" >
    <div class="ticker-wrap-1">
      <div class="ticker-move">
        <div class="ticker-item"><h2>Бесконечная строка</h2></div>
      </div>
    </div>
  </div>
  <div class="tcontainer second">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><h2>Бесконечная строка</h2></div>
      </div>
    </div>
  </div>
</div>
<button class="download" nz-button (click)="downloadFont('montserrat')">
  <span>Загрузить</span>
</button>


