h1{
  margin: 92px 0 26px;
  font-size: 48px;
}

.download{
  color: white;
  font-weight: normal;
  border-radius: 20px;
  line-height: 20px;
  border: none;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  i{
    margin: 4px 0 4px 8px;
    position: unset;
  }
}
.image{
  margin: 48px 0 32px 143px;
  width: 80%;
}
div{
  font-size: 22px;
}
