h1{
  margin: 92px 0 26px;
  font-size: 48px;
}

.fonts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.flex-center-pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
