.fonts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.flex-center-pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

h1{
  margin: 92px 0 26px;
  font-size: 48px;
}

::ng-deep{
  .brand-book .dashboards .flex-center-pagination .for-right-paginator .circle{
    line-height: 38px;
  }
  span.text{
    margin-bottom: -3px;
  }
}
