<h1>Меню</h1>
<div style="display: flex; justify-content: space-between">
  <p>Кастомное меню с анимацией</p>
  <div style="width: 330px" [ngClass]="{ 'with-scroll': sideBar }">
    <section [style.background-color]="sideBar ? 'white' : 'transparent'"
             class="vacancy-bottom-section">
      <app-animation [siderData]="siderData" (sideBarChange)="getSideBarValue($event)"></app-animation>
      <ng-container *ngIf="sideBar">
        <div>{{siderData[+sideBar].title}}</div>
      </ng-container>
    </section>
  </div>
</div>
