<div class="contacts">
  <img src = "https://photos.wbstatic.net/brand-book/wb-pink-rectangle.png">
  <div class="information">
    <h1>Контакты</h1>
    <span class="questions">По вопросам использования фирменного стиля</span>
    <div class="grid">
      <div>
        <div class="title">Швагрина Екатерина</div>
        <div>Дизайнер</div>
        <div>shvagrina.e@wildberries.ru</div>
      </div>
      <div>
        <div class="title">Матвеев Дмитрий</div>
        <div>Арт-директор</div>
        <div>matveev.dmitriy3@wildberries.ru</div>
      </div>
    </div>
  </div>
</div>
