@import "~bootstrap/dist/css/bootstrap.css";
$primary: #071739;
$layout: #709fdc;
$secondary: #b9d5fd;
$thirdary: #ebf3ff;

body{
  background-color: $layout!important;
}

.row-flex{
  display: flex;
  justify-content: space-between;
}

.download{
  background-color: $primary;
  color: white;
  font-weight: normal;
  font-size: smaller;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  height: 26px;
  &:hover{
    background-color: $primary;
    opacity: 0.7;
  }
}

.tag{
  background-color: $primary;
  color: $thirdary;
  margin-right: 14px;
  display: inline-flex;
  padding: 4px 12px;
  line-height: 22px;
  font-size: 12px;
  cursor: pointer;
  &:hover{
    background-color: $primary;
    opacity: 0.7;
  }
  &.active{
    color: $primary;
    border: 1px solid $primary;
    background-color: $thirdary;
  }
}

.ant-pagination-item{
  border-radius: 0;
  background-color: $thirdary;
}

html{
  overflow-x: hidden;
}

h1 {
  margin: 92px 0 0!important;
  font-size: 48px!important;
  font-family: Segoe UI, Arial, serif;
}

p {
  font-size: 22px;
  font-weight: normal;
}
