.tags{
  padding: 36px 150px 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .tag {
    margin-right: 14px;
    margin-bottom: 16px;
    display: inline-flex;
    padding: 12px 28px;
    line-height: 22px;
    font-size: 16px;
    border: 1px solid #cb11ab4f;
    border-radius: 50px;
    cursor: pointer;
    &.active{
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}
